body{font-family: Oswald,serif; background: linear-gradient(90deg, #454ACA 0%, #DCC8C8 100%); color: darkslategray; font-size: 25px;}
img{height: 250px;}
.sidebar{color: aquamarine;background: linear-gradient(270deg, #454ACA 0%, #DCC8C8 100%);} 
.card{background: linear-gradient(270deg, #454ACA 0%, #DCC8C8 100%);}
.slide-text, .footer-text{color: darkslategray; margin: auto auto;}
footer{background: linear-gradient(270deg, #454ACA 0%, #DCC8C8 100%);}
.media-links{display: flex; justify-content: center; align-items: center;}
label, p{color: darkslategray;}
h5, a{color: azure;}
.animation{animation: myAnim 2s ease 0s infinite normal forwards;}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
